/* importacion de fuente */
@font-face {
font-family: LibreBaskerville-Regular;
src: url(../fonts/LibreBaskerville-Regular.ttf);
}



/*ANIMACIONES */
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes lightSpeedIn {
	from {
	  transform: translate3d(100%, 0, 0) skewX(-30deg);
	  opacity: 0;
	}
  
	60% {
	  transform: skewX(20deg);
	  opacity: 1;
	}
  
	80% {
	  transform: skewX(-5deg);
	}
  
	to {
	  transform: translate3d(0, 0, 0);
	}
  }

@keyframes fadeInUp {
	from {
	  opacity: 0;
	  transform: translate3d(0, 100%, 0);
	}
  
	to {
	  opacity: 1;
	  transform: translate3d(0, 0, 0);
	}
  }

@keyframes flipInX {
	from {
	  transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	  animation-timing-function: ease-in;
	  opacity: 0;
	}
  
	40% {
	  transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
	  animation-timing-function: ease-in;
	}
  
	60% {
	  transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
	  opacity: 1;
	}
  
	80% {
	  transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}
  
	to {
	  transform: perspective(400px);
	}
  }

  @keyframes fadeInDown {
	from {
	  opacity: 0;
	  transform: translate3d(0, -100%, 0);
	}
  
	to {
	  opacity: 1;
	  transform: translate3d(0, 0, 0);
	}
  }

  @keyframes fadeOutRight {
	from {
	  opacity: 1;
	}
  
	to {
	  opacity: 0;
	  transform: translate3d(100%, 0, 0);
	}
  }
  @keyframes fadeInLeft {
	from {
	  opacity: 0;
	  transform: translate3d(-100%, 0, 0);
	}
  
	to {
	  opacity: 1;
	  transform: translate3d(0, 0, 0);
	}
  }
  

  

body{
	background-image:url('../img/fondo-sistema.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: LibreBaskerville-Regular;
}


/* formulario login*/
.formulario-login{
	background-color:#683D2C;
	margin-top: 150px;
	animation: zoomIn 0.5s forwards;
	border:2px solid #EE964B;
	box-shadow: 0px 5px 40px black;
}
.formulario-login h1{
	text-align: center;
	color: #EBEBD3;
	font-size: 40px;
}
.formulario-login h2{
	text-align: center;
	color: #EBEBD3;
	font-size: 30px;
}
.formulario-login .campos-login h1{
	text-align: center;
	font-size: 20px;
}
.formulario-login .campos-login input{
	display: block;
	margin: auto;
	width: 60%;
	text-align: center;
	font-size: 25px;
}
.formulario-login .campos-login input:focus{
    box-shadow: 0px 5px 40px black;
    outline: 0;
    border: 0px;
}
.formulario-login .campos-login .entrar{
	display: block;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 20px;
	width: 50%;
	height: 60px;
	border: none;
	background-color:#EE964B;
}
.formulario-login .campos-login .entrar:hover{
    box-shadow: 0px 5px 40px black;
    outline: 0;
    border: 0px;	
}
.formulario-login .msj-incorrecto{
	padding-top: 10px;
	color:#EE964B;
	text-align: center;
}
.formulario-login .campos-login p{
	text-align: center;
	margin-top: 10px;
	color:#EBEBD3;
}
.formulario-login .campos-login p>a{
	color:#EE964B;	
}
.formulario-login .campos-login .facebook{
	color:#EE964B;
	display: block;
	text-align: center;
	font-size: 20px;
}
.formulario-login .campos-login .facebook:hover{
	color:#EBEBD3;
	text-decoration: none;
}




/* MENU PRINCIPAL */
.menu-principal{
	background-color:#683D2C;
	border-radius: 0px;
	border:none;
}
.menu-principal .navbar-header{
	padding: 5px;
}
.menu-principal .navbar-brand{
	color: #EBEBD3;
	font-size: 20px;
}
.menu-principal .navbar-nav li a{
	color: #EBEBD3;
	font-size: 20px;
}
.menu-principal .navbar-nav li{
	padding: 5px;
}
.menu-principal .navbar-nav li:hover{
	background-color:#EE964B;
}
.menu-principal  .navbar-nav>.open>a, .menu-principal .navbar-nav>.open>a:focus, .menu-principal .navbar-nav>.open>a:hover:focus{
	background: transparent;
}
.menu-principal .dropdown-menu{
	background: #683D2C;
	animation: fadeInDown 0.1s forwards;
}
.menu-principal .dropdown-menu li a:hover{
	background: #EE964B;
}


/* mensaje bienvenida */
.contenedor-bienvenida{
	background:#683D2C;
	margin-top: 120px;
	border: 2px solid #EE964B;
	animation: flipInX 1s forwards;
}
.contenedor-bienvenida h1{
	text-align: center;
	color: #EBEBD3;
}
.contenedor-clima{
	margin: auto;
	margin-top: 20px;
	background: #683D2C;
	border:2px solid #EE964B;
	animation: fadeIn 1s forwards;
}


/* FORMULARIO ALTA USUARIO*/
.form-altausuario{
	background: #683D2C;
	padding-top:20px;
	padding-bottom: 40px;
	margin-top: 70px;
	margin-bottom: 50px;
	box-shadow: 0px 5px 40px black;
	border: 2px solid #EE964B;
	animation: zoomIn 0.5s forwards;
}
.form-altausuario h1{
	text-align: center;
	color: #EBEBD3;
}
.form-altausuario .contenedor-campos h2{
	text-align: left;
	font-size: 20px;
	color: #EE964B;
}
.form-altausuario .contenedor-campos input{
	width: 100%;
}
.form-altausuario .contenedor-campos select{
	width: 100%;	
}
.form-altausuario .contenedor-campos .guardar{
	display: block;
	margin: auto;
	width: 60%;
	margin-top: 45px;
	font-size: 20px;
	height: 50px;
	background: #EE964B;
	border: none;
}
.form-altausuario .contenedor-campos .guardar:hover{
	box-shadow: 0px 5px 40px black;	
}
.form-altausuario .contenedor-campos i{
	color: #EBEBD3;
}
.form-altausuario .contenedor-campos .guardar i{
	color: #EBEBD3;
}

/* BUSCAR USUARIO */
.form-busquedausuario{
	background: #683D2C;
	padding-top:20px;
	padding-bottom: 40px;
	margin-top: 50px;
	margin-bottom: 50px;
	box-shadow: 0px 5px 40px black;
	border: 2px solid #EE964B;
	animation: zoomIn 0.5s forwards;
}
.form-busquedausuario h1{
	text-align: center;
	color: #EBEBD3;	
}
.form-busquedausuario h2{
	text-align: center;
	font-size: 20px;
	color: #EE964B;
}
.form-busquedausuario input{
	display: block;
	margin: auto;
	width: 50%;
}
.form-busquedausuario i{
	color: #EBEBD3;
}
.form-busquedausuario .buscar{
	display: block;
	margin: auto;
	width: 40%;
	margin-top: 20px;
	font-size: 20px;
	height: 50px;
	background: #EE964B;
	border: none;	
}
.form-busquedausuario .buscar:hover{
	box-shadow: 0px 5px 40px black;	
}

/* tarjeta usuario */
.tarjeta-usuario{
	background: #683D2C;
	padding-top:20px;
	padding-bottom: 40px;
	margin-top: 50px;
	margin-bottom: 50px;
	box-shadow: 0px 5px 40px black;
	border: 2px solid #EE964B;
}
.tarjeta-usuario .contenedor-menu button{
	width: 100%;
	font-size: 20px;
	height: 50px;
	background: #EE964B;
	border: none;
	margin-top: 10px;	
}
.tarjeta-usuario .contenedor-menu button:hover{
	box-shadow: 0px 5px 40px black;
    outline: 0;
    border: 0px;	
}
.tarjeta-usuario .contenedor-menu button i{
	color: #EBEBD3;	
}
.tarjeta-usuario input{
	width: 100%;
}
.tarjeta-usuario h1{
	text-align: center;
	font-size: 30px;
	color: #EE964B; 
}
.tarjeta-usuario h2{
	text-align: left;
	font-size: 20px;
	color: #EE964B;	
}
.tarjeta-usuario h2 i{
	color: #EBEBD3;		
}
.tarjeta-usuario  select{
	width: 100%;
}

/* Modal alerta */
.modal-title{
	color: #EE964B;
	text-align: center;
}
.modal-body p{
	color: #683D2C;
	text-align: center;	
}

/* FORMULARIO MI PERFIL */
.form-perfil{
	background-color:#683D2C;
	margin-top: 150px;
	border: 2px solid #EE964B;
	animation: zoomIn 0.5s forwards;
	box-shadow: 0px 5px 40px black;
}
.form-perfil h1{
	color: #EBEBD3;
	text-align: center;
}
.form-perfil h2{
	font-size: 20px;
	color: #EE964B;	
}
.form-perfil input{	
	width: 100%;
}
.form-perfil select{
	width: 100%;
}
.menu-perfil button{
	width: 100%;
	font-size: 20px;
	height: 50px;
	background: #EE964B;
	border: none;
	margin-top: 20px;
	margin-bottom: 20px;	
}
.menu-perfil button:hover{
	box-shadow: 0px 5px 40px black;
    outline: 0;
    border: 0px;	
}
.menu-perfil button i{
	color: #EBEBD3;	
}
.form-perfil h2 i{
	color: #EBEBD3;		
}

/*MODAL CAMBIO CONTRASEÑA */
.modal-contraseña .modal-title{
	font-size: 25px;
}
.modal-contraseña .form-cambiocontra h2{
	text-align: center;
	font-size: 20px;
}
.modal-contraseña .form-cambiocontra input{
	width: 60%;
	display: block;
	margin: auto;
	text-align: center;
	font-size: 20px;
}
.modal-contraseña .form-cambiocontra .guardar{
	display: block;
	margin: auto;
	width: 60%;
	margin-top: 45px;
	font-size: 20px;
	height: 50px;
	background: #EE964B;
	border: none;	
}
.modal-contraseña .form-cambiocontra .guardar:hover{
	box-shadow: 0px 5px 40px black;
    outline: 0;
    border: 0px;	
}


/* RECUPERACION DE CUENTA */
.form-recuperar-cuenta{
	background-color:#683D2C;
	margin-top: 250px;
	border: 2px solid #EE964B;
	box-shadow: 0px 5px 40px black;
	animation:zoomIn 0.5s forwards;
}
.form-recuperar-cuenta h1{
	text-align: center;
	color: #EBEBD3;
}
.form-recuperar-cuenta h2{
	text-align: center;
	color: #EE964B;	
}
.form-recuperar-cuenta input{
	display: block;
	margin: auto;
	width: 70%;
	font-size: 25px;
	text-align: center;
}
.form-recuperar-cuenta .recuperar {
	display: block;
	margin: auto;
	margin-top:20px;
	margin-bottom:20px;
	padding: 10px;
	width: 50%;
	font-size: 20px;
	background: #EE964B;
	border: none;
}
.form-recuperar-cuenta .recuperar:hover{
	box-shadow: 0px 5px 40px black;
    outline: 0;
    border: 0px;
}






/* AVISO-TRANSACCIONES */
.aviso-transacciones{
	background: #683D2C;
	padding-top:20px;
	padding-bottom: 40px;
	margin-top: 70px;
	margin-bottom: 50px;
	box-shadow: 0px 5px 40px black;
	border: 2px solid #EE964B;
	animation: zoomIn 0.5s forwards;
}
.aviso-transacciones h1{
	text-align: center;
	color: #EBEBD3;
}
.aviso-transacciones h2{
	text-align: center;
	color: #EE964B;	
}



/* FORMULARIO ALTA PRESTAMOS */
.form-alta-prestamo{
	background: #683D2C;
	padding-top:20px;
	padding-bottom: 40px;
	margin-top: 50px;
	margin-bottom: 50px;
	box-shadow: 0px 5px 40px black;
	border: 2px solid #EE964B;
	animation: zoomIn 0.5s forwards;
}
.form-alta-prestamo h1{
	text-align: center;
	color: #EBEBD3;	
}
.form-alta-prestamo h2{
	text-align: left;
	font-size: 20px;
	color: #EE964B;
}
.form-alta-prestamo input{
	width:100%;
}
.form-alta-prestamo i{
	color: #EBEBD3;
}
.form-alta-prestamo textarea{
	width: 100%;
	height: 100px;
}
.form-alta-prestamo .prestar {
	display: block;
	margin: auto;
	margin-top:40px;
	padding: 10px;
	width: 50%;
	font-size: 20px;
	background: #EE964B;
	border: none;
}
.form-alta-prestamo .prestar:hover{
	box-shadow: 0px 5px 40px black;
    outline: 0;
    border: 0px;
}


/* ELIMINAR USUARIO MODAL */
.eliminar-usuario{
	padding: 20px;
}
.eliminar-usuario .eliminar{
	width: 100%;
	background: #EE964B;
	font-size: 18px;
	margin-bottom: 15px;
}
.eliminar-usuario .cancelar{
	width: 100%;
	background: #EE964B;
	font-size: 18px;
	margin-bottom: 15px;
}
.eliminar-usuario .eliminar:hover , .eliminar-usuario .cancelar:hover{
	box-shadow: 0px 5px 40px black;
    outline: 0;
    border: 0px;
}


/* TABLA DE PRESTAMO */
.contenedor-tabla-prestamo{
	background: #683D2C;
	border: 2px solid #EE964B;
}
.contenedor-tabla-prestamo h1{
	text-align: center;
	font-size: 36px;
	color: #EBEBD3;
}
.contenedor-tabla-prestamo h2{
	font-size: 20px;
	color: #EBEBD3;
	text-align: center;
}
.contenedor-tabla-prestamo .tabla-prestamo{
	animation: fadeInLeft 1s forwards;
}
.contenedor-tabla-prestamo .tabla-prestamo th{
	color: #EE964B;
	text-align: center;
}
.contenedor-tabla-prestamo .tabla-prestamo td{
	color: #EBEBD3;
	text-align: center;
}
.contenedor-tabla-prestamo .tabla-prestamo td>form>button{
	width: 100%;
}
.contenedor-tabla-prestamo .tabla-prestamo td>button{
	width: 100%;
}



/* ELIMINAR PRESTAMO MODAL */
.eliminar-prestamo{
	padding: 20px;
}
.eliminar-prestamo .eliminar{
	width: 100%;
	background: #EE964B;
	font-size: 18px;
	margin-bottom: 15px;
}
.eliminar-prestamo .cancelar{
	width: 100%;
	background: #EE964B;
	font-size: 18px;
	margin-bottom: 15px;
}
.eliminar-prestamo .eliminar:hover , .eliminar-prestamo .cancelar:hover{
	box-shadow: 0px 5px 40px black;
    outline: 0;
    border: 0px;
}



/* HISTORIAL DE PRESTAMOS REALIZADOS! */
.contenedor-tabla-prestamo{
	padding: 40px;
	padding-top: 20px;
	animation: zoomIn 0.5s forwards;
}
.contenedor-tabla-prestamo .tabla-historial-prestamo thead{
	background:#EE964B;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate{
	color:#EE964B;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background: #EE964B;
	outline: none;
	border: 1px solid #EBEBD3;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	background: #EBEBD3;
	border:1px solid #EE964B;
}



/* RESUMEN */
.contenedor-resumen{
	background: #683D2C;
	border: 2px solid #EE964B;
	padding: 20px;
	animation:zoomIn 0.5s forwards;
}
.contenedor-resumen h1{
	color: #EBEBD3;
}
.contenedor-resumen h2{
	color: #EBEBD3;
}
.contenedor-resumen h3{
	color: #EE964B;
}
.contenedor-resumen h3>i{
	color: #EBEBD3;
}
.contenedor-resumen hr{
	height: 1px;
	background: #EE964B;
	border: none;
}


/* BOTON DESARROLLO (PROGRAMADORES) */
.formulario-login .boton-desarrollador{
	display: block;
	margin: auto;
	background: transparent;
	margin-top: 10px;
	color: #EBEBD3;
}
.formulario-login .boton-desarrollador:focus{
	outline: none;	
}
.Modal-Desarrolladores{
	animation:lightSpeedIn 1s forwards;
}
.Modal-Desarrolladores .logo-md{
	height: 50px;
	width: 50px;
	border-radius: 100%;
}
.Modal-Desarrolladores .modal-title{
	color: rgb(32, 22, 92);
	font-size: 25px;
}
.Modal-Desarrolladores .titulo-desarrolladores{
	font-size: 30px;
	margin-bottom: 20px;
}
.Modal-Desarrolladores .programador img{
	height: 150px;
	width: 150px;
	display: block;
	margin: auto;
}
.Modal-Desarrolladores .programador .nombre{
	font-size: 20px;
}
.Modal-Desarrolladores  .contacto{
	font-size: 20px;	
}
.Modal-Desarrolladores .logo-visita{
	height: 50px;
	width: 50px;
	border-radius: 100%;
}
.Modal-Desarrolladores a{
	text-decoration: none;
}
.boton-desarrollador img{
	height: 30px;
	width: 30px;
	border-radius: 100%;
}





/* TABLA INVENTARIO DE LIBROS */
.contenedor-inventario{
	padding: 40px;
	padding-top: 20px;
	animation: zoomIn 0.5s forwards;
	background: #683D2C;
	border: 2px solid #EE964B;
}
.contenedor-inventario .tabla-inventario thead{
	background:#EE964B;
}
.contenedor-inventario h1{
	text-align: center;
	font-size: 36px;
	color: #EBEBD3;
}

/*CARGA SPING */
.spin-carga{
	margin-top: 20px;
	background: #683D2C;
	border:2px solid #EE964B;
}
.spin-carga i{
	color: #EE964B;
}
.spin-carga h4{
	color: #EBEBD3;
}


/* MEDIA CELULAR */
@media screen and (max-width: 600px) {
	body{
		background-image: none;
		background: #683D2C;
	}




	.formulario-login{
		margin-top: 0px;
		margin-bottom: 0px;
		border:none;
		box-shadow: none;
		padding: 20px;
	}
	.formulario-login h1{
		font-size: 35px;
	}
	.formulario-login h2{
		font-size: 20px;
	}
	.formulario-login .campos-login h1{
		font-size: 20px;
	}
	.formulario-login .campos-login input{
		width: 90%;
	}
	.formulario-login .campos-login input:focus{
	    box-shadow: 0px 5px 40px black;
	    outline: 0;
	    border: 0px;
	}
	.formulario-login .campos-login .entrar{
		width: 70%;
	}






	.form-recuperar-cuenta{
		margin-top: 150px;
		border:none;
		box-shadow: none;
	}
	.form-recuperar-cuenta h1{
		font-size: 22px;
	}
	.form-recuperar-cuenta h2{
		font-size: 18px;
	}
	.form-recuperar-cuenta input{
		width: 100%;
		font-size: 18px;
	}
	.form-recuperar-cuenta .recuperar {
		width: 80%;
	}


	.contenedor-bienvenida{
		border: none;
		margin-top:100px;
	}
	.contenedor-bienvenida h1{
		font-size: 25px;
	}
	.contenedor-clima{
		border: none;
	}

	.menu-principal{
		border-bottom: 2px solid #EE964B;
	}
	.menu-principal .navbar-brand{
		font-size: 15px;
		color:white;
	}
	.menu-principal .navbar-brand>i{
		font-size: 20px;
	}
	.menu-principal .navbar-nav li>a{
		font-size: 15px;
		color:white;
	}
	.menu-principal .navbar-nav li:hover{
		background-color:transparent;
	}
	.menu-principal  .navbar-nav>.open>a, .menu-principal .navbar-nav>.open>a:focus, .menu-principal .navbar-nav>.open>a:hover:focus{
		background: #EE964B;
	}
	.menu-principal .dropdown-menu li a:hover{
		color: white;
	}
	.menu-principal .navbar-collapse, .navbar-inverse .navbar-form{
		border-top: 2px solid #EE964B;
	}
	.menu-principal .navbar-toggle{
		border: 1px solid #EE964B;
	}
	.menu-principal .navbar-toggle:hover{
		background: #EE964B;
	}

	.form-altausuario{
		margin-top: 0px;
		margin-bottom: 0px;
		border: none;
		box-shadow: none;
	}

	.form-busquedausuario{
		margin-top: 0px;
		margin-bottom: 0px;
		border: none;
		box-shadow: none;
	}
	.form-busquedausuario input{
		width: 100%;
	}
	.form-busquedausuario .buscar{
		width: 80%;
	}


	.form-alta-prestamo{
		margin-top: 0px;
		margin-bottom: 0px;
		border: none;
		box-shadow: none;
	}

	.form-perfil{
		margin-top: 0px;
		margin-bottom: 0px;
		border: none;
		box-shadow: none;
	}

	.contenedor-resumen{
		margin-top: 0px;
		margin-bottom: 0px;
		border: none;
		box-shadow: none;
	}
	.contenedor-resumen h3{
		font-size: 20px;
	}

	.contenedor-tabla-prestamo{
		margin-top: 0px;
		margin-bottom: 0px;
		border: none;
		box-shadow: none;
	}
	.contenedor-tabla-prestamo h1{
		margin: 0px;
		margin-bottom: 20px;
		font-size: 20px;
	}

	.tarjeta-usuario{
		margin-top: 0px;
		margin-bottom: 0px;
		border: none;
		box-shadow: none;
	}

	.aviso-transacciones{
		margin-bottom: 0px;
		border: none;
		box-shadow: none;
	}


	.spin-carga{
		margin-top: 20px;
		border:none;
	}
	
}